In [35]:
import numpy as np
import pandas as pd

In [36]:
a = np.array([1,2,3,None,5])
a

array([1, 2, 3, None, 5], dtype=object)

In [37]:
#Any mathematical operation on None results in error
a.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [ ]:
#Lets add a number to None
None + 3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

# Numpy and Nan

In [ ]:
a = np.array([1,2,3,np.nan,5])
a

array([ 1.,  2.,  3., nan,  5.])

In [ ]:
#Any mathematical operation on None results in nan
print(a.sum())

nan

In [ ]:
#Numpy does provide some special aggregations that will ignore these missing values
print(np.nansum(a),np.nanmin(a),np.nanmax(a),np.nanmedian(a))

11.0 1.0 5.0 2.5

# Identifying Null

In [ ]:
data_with_missing_val = pd.Series([1,np.nan,'hello',None])
print(data_with_missing_val.isnull())

0    False
1     True
2    False
3     True
dtype: bool

In [ ]:
#obtaining values which are not null
data_with_missing_val[data_with_missing_val.notnull()]

0        1
2    hello
dtype: object

In [ ]:
# dictionary of lists
dict_ = {
    'First' : [90,90,np.nan,95],
    'Second' : [33,45,56,np.nan],
    'Third' : [np.nan,45,80,98],
    'Fourth' : [50,60,60,70],
    'Fifth' : [33,45,56,None]
}

# Create a dataframe from dictionary of lists
df = pd.DataFrame(dict_)

# use isnull() function to check missing data
df.isnull()

   First  Second  Third  Fourth  Fifth
0  False   False   True   False  False
1  False   False  False   False  False
2   True   False  False   False  False
3  False    True  False   False   True

# Working with NaN

In [ ]:
df['First'].notna()

0     True
1     True
2    False
3     True
Name: First, dtype: bool

In [31]:
df.fillna(0,inplace = True)
df

   First  Second  Third  Fourth  Fifth
0   90.0    33.0    0.0      50   33.0
1   90.0    45.0   45.0      60   45.0
2    0.0    56.0   80.0      60   56.0
3   95.0     0.0   98.0      70    0.0